body {
    background-color: #f0f0f0;
    font-family:Arial, Helvetica, sans-serif; 
}

.login-div {
    padding: 15px;
    border: solid 1px #c0c0c0;
    box-shadow: 3px 3px 7px;
    display: inline-block;
}

.login-div input {
    display: block;
    margin-bottom: 7px;
}


.login-div input:focus {
    padding: 3px;
    box-shadow: 0 0 3px;
    border:none;
}

.selector-for-some-widget {
    box-sizing: content-box;
  }

/*
.login-div input[type="email"] {
    border: solid 1px blue;
}

.login-div input[type="password"] {
    border: solid 1px red;
}
*/

.login-div button:hover {
    box-shadow: 0 0 3px;
}